 body.dark_mode {
    /* Estilos para el modo oscuro */
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
dark_mode.a{
    color: white;
}

.colortitle{
  color: white;
}

.darkMode.dark_mode {
  background-color: #1a1a1a;
  color: #ffffff;
}


